* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #06002e;
  color: #fff;
  padding-inline: clamp(1rem, 10vw, 10rem);
  height: 100vh;
  font-size: 24px;
}

section {
  height: calc(100vh - 10rem);
  margin: 5rem 0;
}

.Home {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: start;
}
.Home .banner {
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  z-index: -1;
  height: calc(100vh - 10rem);
}

.Home .sub-1,
.Home .sub-2 {
  display: flex;
  flex-flow: column-reverse nowrap;
  gap: 0.5rem;
  text-transform: uppercase;
}

.sub-2 div,
.sub-1 div {
  width: 500px;
  height: 10px;
  background-color: #fff;
}

.Home .title {
  max-width: min(1000px, 100%);
  font-size: clamp(3rem, 5vw, 8rem);
}

.Home .sub-2 {
  align-self: flex-end;
  flex-flow: column nowrap;
}

.About {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: start;
  height: auto;
  gap: 2rem;
}

h2 {
  font-size: clamp(2rem, 3.5vw, 5rem);
}

.flex-element {
  display: flex;
  gap: 1rem;
  justify-content: stretch;
  align-items: center;
}

.reverse {
  flex-direction: row-reverse;
}

.flex-element p {
  width: 100%;
  text-wrap: balance;
  width: 60%;
}

.flex-element img {
  padding: 2rem;
  width: 40%;
}

.Confirm {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  gap: 5rem;
}

.Confirm p {
  height: fit-content;
}

.Confirm img {
  width: min(700px, 100%);
  max-width: 1000px;
  height: 100%;
}

.Piloto {
  min-height: 100vh;
  text-align: center;
}

.slick-track {
  margin-top: 3rem;
  display: flex !important;
}

.piloto_card {
  min-width: 350px;
  width: 80% !important;
  height: 450px;
  background: linear-gradient(to bottom right, #add8e6, #b19cd9);
  border-radius: 10px;
  color: black;
  padding: 2rem 1rem;
  text-align: start;

  @media (max-width: 650px) {
    height: 500px;
  }
}

.piloto_card h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-overflow: balance;
}

.piloto_card ul {
  padding-left: 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.Logros {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  padding-bottom: 3rem;
}

.Logros img {
  max-height: 400px;
}

.Logros h2 {
  margin: 0 auto;
  max-width: min(1000px, 100%);
  font-size: clamp(3rem, 5vw, 8rem);
}

.propuestas {
  display: flex;
  align-items: center;
  padding-top: 7rem;
}

.propuestas .propuestas-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.propuestas .propuestas-titulo img {
  width: 60%;
}

.propuestas h2 {
  margin: 0 auto;
  max-width: min(500px, 100%);
  font-size: clamp(2rem, 5vw, 2rem);
  text-align: center;
  margin-bottom: 3rem;
}

.propuestas .container-propuestas {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 70%;
}

.container-propuestas .propuestas-card {
  border: 1px dashed #8a3dfd;
  border-radius: 40px;
  padding: 22px;
  padding: 20px 50px;
}

.container-propuestas .propuestas-card p {
  font-size: clamp(0.7rem, 1.5vw, 0.8rem);
}

.liderazgo {
  padding-top: 10rem;
}

.liderazgo .container-equipo {
  display: flex;
  margin-top: 3rem;
  gap: 20px;
  justify-content: flex-end;
}

.container-equipo .equipo-card {
  background-color: #9d8cff;
  padding: 25px;
  color: #06002e;
  border-radius: 20px;
  width: 280px;
}

.container-equipo .equipo-card .nombre {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-equipo .equipo-card .nombre img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.container-equipo .equipo-card p {
  display: block;
  padding-bottom: 0.5rem;
  font-size: clamp(0.7rem, 1.5vw, 0.75rem);
}

.container-equipo .equipo-card span {
  display: inline-block;
  padding-bottom: 0.5rem;
  font-size: clamp(1.5rem, 1.5vw, 1rem);
}

.testimonios {
  padding-top: 8rem;
}

.slider-container-testimonios {
  margin: 0 auto;
}

.testimonios .testimonio-card {
  width: 70% !important;
  background: linear-gradient(to bottom right, #57d6d4, #b19cd9);
  padding: 2rem 1rem;
  text-align: start;
  border-radius: 10px;
  color: black;
}

.testimonios .testimonio-card .person {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonios .testimonio-card .person .person-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.testimonio-card .person .person-data img {
  width: 100px;
  border-radius: 50%;
}

.slick-track {
  display: flex;
  text-align: center;
}

.testimonios .testimonio-card p {
  font-size: clamp(0.7rem, 1.5vw, 0.8rem);
  margin-top: 0.5rem;
}

.testimonios .testimonio-card h4 {
  font-size: clamp(1.2rem, 1.5vw, 1rem);
}

.imagenes-contribuciones {
  margin-bottom: 15rem;
  position: relative;
  text-align: center;
}

.imagenes-contribuciones img {
  margin: 0 30px;
}
